<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
<body>
    <table>
        <tr>
          <th>Email</th>
          <th>Firsr Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Phone Number</th>
          <th>Gender</th>
          <th>Hành Động</th>
        </tr>
        <% for(let i=0; i < getalluser.length; i++) { %>
            <tr>
              <td><%= getalluser[i].email %></td>
              <td><%= getalluser[i].firstName %></td>
              <td><%= getalluser[i].lastName %></td>
              <td><%= getalluser[i].address %></td>
              <td><%= getalluser[i].phoneNumber %></td>
              <td><%= getalluser[i].gender ===0?'Nam':'Nữ' %></td>
              
              <td>
                <a href="/edit-crud?id=<%=getalluser[i].id%>" class="btn-edit" type="button">Edit</a>
                <a href="/delete-crud?id=<%=getalluser[i].id%>"" class="btn-delete" type="button">Delete</a>

              </td>
            </tr>
         <% } %>
    </table>
    
</body>
</html>